#bg-media{
	background: url(https://d3p0bla3numw14.cloudfront.net/assets/image/media-dashboard-1920x1080-blur.png);
	.media-dashboard{
		@media (min-width: 320px) and (max-width: 480px){
			margin-top: 15%;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			}
		@media (min-width: 481px) and (max-width: 1024px){
			margin-top: 10%;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			}
		@media (min-width: 1025px) and (max-width: 1280px){
			margin-top: 8%;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			}
		@media (min-width: 1281px) and (max-width: 1920px){
			margin-top: 7%;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			}
		@media (min-width: 1921px){
			margin-top: 7%;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
			}	
		.container-fluid{
			.container{
				.main-title-media{
					height: auto;
				    // background: rgba(255, 255, 255, 0.16);
				    padding: 10px;
					.title-media-dashboard{
						color: #fff;
						font-size: medium;
						font-weight: bold;
					}
					.secondary-title-media{
						color: #fff;
						font-size: 14px;
					}
				}
				.wrapper-media{
					position: inherit;
				    top: 0%;
				    margin-bottom: 20%;
		    		@media (min-width: 1441px) and (max-width: 1920px){
						width: max-content;	
						}			
					}
					.row-media{
					background: #fff;
				    height: auto;
				    margin-bottom: 10%;
				    box-shadow: 0 6px 16px 1px rgba(0,0,0,0.21);
				    margin: 0px;
						.tabpanel-media{
							.nav-media{
								border:0;
								background: rgb(2, 66, 101);
								color: #fff;
								li{
									margin-bottom: 0px;
									a{
										border: 0px;
										text-align: -webkit-center;
										 margin-right: 0;
										 color: rgba(255, 255, 255, 0.65);
										 @media (min-width: 320px) and (max-width: 767px){
											float: left;
	    									width: 50%;		
											}	
										}

										p{
										font-size: 14px;
										}
										span{
										margin-right: 10px;
										font-size: 30px;
										}
									}
								}
							}
							.tab-content{
								#register-media {
									border: 0px;
									.report-form {
										padding: 0px;
										background: none;
										h1 {
											color: #616161;
											span {
												margin-left: 10px;
											}
										}
										hr {
											border-top: 1px solid rgba(35, 35, 35, 0.3);
										}
										.col-md-12 {
											.row {
												margin: 0 0 10px 0;
												.form-group {
													.col-md-12 {
														.row {
															input {
																height: 50px !important;
																font-size: 14px;
																border: 1px solid #c7c7c7;
																background: #fff;
																border-radius: 0;
																box-shadow: none;
																@media (min-width: 320px) and (max-width: 768px) {
																	height: 40px !important;
																	width: 100%;
																}
																@media (min-width: 769px){
																	min-width: 300px;
																}
															}
															label {
																padding: 0px;
															}
														}
													}
												}
											}
										}
									}
								}
								#login-media {
									border: 0px;
									.report-form {
										padding: 0px;
										background: none;
										h1 {
											color: #616161;
											span {
												margin-left: 10px;
											}
										}
										hr {
											border-top: 1px solid rgba(35, 35, 35, 0.3);
										}
										.col-md-12 {
											.row {
												margin: 0 0 10px 0;
												.form-group {
													.col-md-12 {
														.row {
															input {
																height: 50px !important;
																font-size: 14px;
																border: 1px solid #c7c7c7;
																background: #fff;
																border-radius: 0;
																box-shadow: none;
																@media (min-width: 320px) and (max-width: 768px) {
																	height: 40px !important;
																}
																@media (min-width: 769px){
																	min-width: 300px;
																}
															}
															label {
																padding: 0px;
															}
														}
													}
												}
											}
										}
									}
								}
								.captcha-media {
									text-align: -webkit-center;
									margin-bottom: 20px;
									img {
										max-width: 300px;
										@media (min-width: 320px) and (max-width: 768px) {
											max-width: 190px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		// modalmedia
		#modalmedia{
			.modal-dialog{
				.modal-content{
					background: #0081c6;
				    border: 3px solid #Fff;
				    color: #fff;
				    .modal-header{
				    	border: 0px;
				    	margin-right: 10px;
				    	.wrapper-modal-media{
				    		display: -webkit-inline-box;
				    		padding: 0px;
    						font-size: medium;
				    		span{
					    		font-size: 31px;
							    /* padding: 0px; */
							    /* margin: 0px; */
							    margin-left: 10px;
							    @media (min-width: 320px) and (max-width: 480px) {
									margin-left: 5px;
								}
				    		}
					    	h4{
					    		font-size: large;
					    	}	
					    	p{
					    		font-weight: 200px;
					    	}
				    	}
				    }
				}
			}
			.modal-backdrop{
				opacity: .0 !important;
			}
		}


#header-media{
		.navbar-default{
			padding: 2px 0;
			height: auto !important;
			background-color: #fff;
			.navbar-header{
				@media (min-width: 768px){
					float: left;
				}
				@media (max-width: 991px){
					width: inherit;
				}
				.navbar-brand{
					margin-top: 4px;
					img{
						padding: 10px;
					}
				}
			}
			.collapse{
				.navbar-nav{
					li{
						@media (min-width: 768px){
							float: left;
							&:after{
								content: "";
							    display: block;
							    height: 18px;
							    width: 1px;
							    background-color: #fff;
							    margin-left: 15px;
							    position: absolute;
							    top: 30%;
							    right: 0;
							}
							&:last-of-type{
								&:after{
									content: none;
								}
							}
						}
						a{
							color: #0081c6;
							font-size: 16px;
							&:hover{
								text-decoration: underline;
							}
							@media(min-width: 992px){
								margin: 0 20px;
							}
						}
					}
				}
				.navbar-right{
					@media (min-width: 768px){
						float: right!important;
					}
				}
			}
		}
		.nav-container{
			padding: 20px;
			background-color: #000;
			nav{
				a{
					margin: 0 45px;
					font-size: 18px;
					color: #0081c6;
				}
			}
		}
	}

.business-header{
	height: 50vh;
    min-height: 300px;
    background: url(https://d3p0bla3numw14.cloudfront.net/assets/image/banner-media-dashboard-1920x1080.png) center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-bottom: -100px;
    @media (min-width: 320px) and (max-width: 480px) {
			height: 400px;
			margin-bottom: 0px;
		}
	@media (min-width: 481px) and (max-width: 1024px) {
		height: 50vh;
	}
	@media (min-width: 1025px) and (max-width: 1440px) {
		height: 60vh;
	}
    .display-3{
    	font-size: 4.5rem;
	    font-weight: 300;
	    line-height: 1.1;
    }
    .mt-4{
        margin-top: 10rem !important;
        @media (min-width: 320px) and (max-width: 480px) {
			margin-top: 5rem !important;
    		font-size: 30px;
		}
    }
    .text-white{
    	color: #fff!important;
    }
    hr{
    	width: 20%;
    }
    .card-text-secondary{
    	color: #fff;
	    font-weight: 100;
	    font-size: medium;
	    /* margin-top: 15rem !important; */
	    text-align: -webkit-center;
    }
}

.bg-tableau{
	background-color:#eee;
}
.tableau-wrapper{
	.row{
		background: #eee;
	    .my-4{
			margin-top: 1.5rem!important;
	    	margin-bottom: 1.5rem!important;
			.card{
				position: relative;
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-direction: column;
			    flex-direction: column;
			    min-width: 0;
			    word-wrap: break-word;
			    background-clip: border-box;
			    border: 0px solid rgba(0,0,0,.125);
			    padding: 0px;
			    border-radius: 2px;
			    background: #fff;
			    box-shadow: 0 1px 3px #C7C7C7;
				.card-img-top{
					width: 100%;
				    border-top-left-radius: calc(.25rem - 1px);
				    border-top-right-radius: calc(.25rem - 1px);
				}
				.card-body{
					flex: 1 1 auto;
	    			padding: 1.25rem;
	    			min-height: 120px;
					.card-title{
						margin-bottom: .75rem;
					    color: #008ED2;
					    line-height: inherit;
					    font-size: large;
					    letter-spacing: 2px;
					}
					.card-text{
						margin-bottom: 0;
					    height: 50px;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    color: #3b3835;
					    font-weight: 400;
					}
				}
				.card-footer{
					padding: .75rem 1.25rem;
				    // background-color: rgba(0,0,0,.03);
				    border-top: 1px solid rgba(0,0,0,.125);
				    text-align: -webkit-center;
					.btn-tableau{
						border-radius: 0 0 0;
					    min-width: 122px;
					    margin: 5px;
					}
				}
			}
		}
	}
}

#modaltableau{
			.modal-dialog{
				.modal-content{
					background: #0081c6;
				    border: 3px solid #Fff;
				    color: #fff;
				    .modal-header{
				    	border: 0px;
				    	margin-right: 10px;
				    	.wrapper-modal-tableau{
				    		display: -webkit-inline-box;
				    		padding: 0px;
    						font-size: medium;
    						width: auto;
				    		span{
					    		font-size: 31px;
							    /* padding: 0px; */
							    /* margin: 0px; */
							    margin-left: 10px;
							    @media (min-width: 320px) and (max-width: 480px) {
									margin-left: 5px;
								}
				    		}
					    	h4{
					    		font-size: large;
					    	}	
					    	p{
					    		font-weight: 200px;
					    	}
					    	#carousel-id{
					    		.carousel-inner{
					    			.item{
					    				img{
					    					max-width: 100%;
					    				}
					    			}
					    		}
					    	}
				    	}
				    }
				}
			}
			.modal-backdrop{
				opacity: .0 !important;
			}
		}





























